.content-section{
    padding-top: 150px;
    padding-left: 299px;
    padding-right: 299px;
    @media (max-width:$xl) {
        padding-left: 100px;
        padding-right: 100px;
      }    
    &__title{
        padding: 10px;
        margin: bottom 0;
        text-transform: capitalize;
        text-align: center;
    }
    &__subtitle{
        padding: 10px;
        margin-bottom: 44px;
        text-align: center;
    }    
    &__items{
        display: grid;
        grid-template-columns: 1fr 1fr;

        gap: 33px;
        @media (max-width:$xl) {
            grid-template-columns: 1fr;
          }
    }



    &__item {
        background-color: white;
        width: 100%;

        // max-width: 476px;
        // max-height: 650px;
        border: 1px solid black;
        border-radius: 10px;
        // max-width: 49%;
        // @media (max-width:$xl) {
        //     max-width: 100%;
        //   }
          

        &-title{
            margin-top: 40px;
            padding: 10px;
            color: #000;
            font-size: 20px;
            font-weight: 500;
        }

        &-subtitle{
            color: #5C5C5C;
            font-size: 16px; 
            padding: 10px;

        }


        &-image{
            width: 100%;
        }
    
    }
    &__button-panel{
        text-align:center;
        margin: 57px 0px;
    }
    &__button-panel2{
        text-align:center;
        margin: 30px 0px;
    }
    &__button{
        background-color: #4452FE;
        color: white;
        padding: 20px 36px;

    }

}



    
    
