.partners-section {
    padding-top: 200px;

    &__title {
        padding: 10px;
        margin: bottom 0;
        text-transform: capitalize;
        text-align: center;
    }

    &__subtitle {
        padding: 10px;
        text-align: center;

    }

    &__brands {
        justify-items: end;
        padding: 50px 0px;
        display: grid;
        grid-template-columns: repeat(6, minmax(134px, auto));
        gap: 74px;

        @include mq('tablet-wide') {
            grid-template-columns: repeat(3, minmax(110px, auto));

        }

        @include mq('phone-wide') {
            grid-template-columns: repeat(2, minmax(110px, auto));
            gap: 30px;
            justify-items: center;
        }



        &__button {
            margin-bottom: 50px;
        }
    }
}