@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap");
.features-section {
  padding-top: 162px;
  padding-bottom: 62px;
}
@media only screen and (max-width: 1023px) {
  .features-section {
    padding-left: 48px;
    padding-right: 48px;
  }
}
@media only screen and (max-width: 479px) {
  .features-section {
    padding: 0 10px 92px 10px;
  }
}
.features-section__title {
  text-transform: uppercase;
  text-align: center;
}
.features-section__subtitle {
  margin-bottom: 80px;
  text-align: center;
}
@media only screen and (max-width: 1023px) {
  .features-section__subtitle {
    margin-bottom: 28px;
  }
  .features-section__subtitle br {
    display: none;
  }
}
.features-section__content {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media only screen and (max-width: 1023px) {
  .features-section__content {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.features-section__images {
  position: relative;
  width: 100%;
  max-width: 752px;
  height: 760px;
  margin-right: 46px;
}
@media only screen and (max-width: 1023px) {
  .features-section__images {
    margin-right: 0;
    height: 460px;
  }
}
@media only screen and (max-width: 479px) {
  .features-section__images {
    padding-left: 62px;
    padding-right: 62px;
    height: 380px;
  }
}
.features-section__panel-image {
  position: absolute;
  left: 28px;
  top: 0;
  width: 696px;
  height: 659px;
}
@media only screen and (max-width: 1023px) {
  .features-section__panel-image {
    width: 400px;
    height: auto;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
}
@media only screen and (max-width: 479px) {
  .features-section__panel-image {
    width: 324px;
    height: 320px;
  }
}
.features-section__graphic-image {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 400px;
  height: 276px;
}
@media only screen and (max-width: 1023px) {
  .features-section__graphic-image {
    width: 232px;
    height: 160px;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
}
.features-section__list {
  width: 100%;
  max-width: 270px;
  padding-top: 74px;
}
@media only screen and (max-width: 1023px) {
  .features-section__list {
    padding-top: 62px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.features-section__list-title {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}
.features-section__list-text {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  padding-left: 10px;
}
.features-section__list-item {
  margin-bottom: 35px;
}
.features-section__list-item svg {
  margin-right: 10px;
}
.features-section__list-item:last-child {
  margin-bottom: 0;
}

.welcome-section {
  position: relative;
  text-align: center;
}
.welcome-section__title {
  margin-bottom: 28px;
  font-size: 80px;
  line-height: 88px;
}
@media only screen and (max-width: 1023px) {
  .welcome-section__title {
    font-size: 52px;
    line-height: 66px;
    padding-left: 64px;
    padding-right: 64px;
  }
  .welcome-section__title br {
    display: none;
  }
}
.welcome-section__img {
  width: 100%;
  max-width: 1580px;
}
.welcome-section__subtitle {
  margin-bottom: 86px;
  font-size: 20px;
  line-height: 30px;
}
@media only screen and (max-width: 1023px) {
  .welcome-section__subtitle {
    padding-left: 64px;
    padding-right: 64px;
  }
  .welcome-section__subtitle br {
    display: none;
  }
}
.welcome-section__links {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
}
@media only screen and (max-width: 1023px) {
  .welcome-section__links {
    flex-direction: column;
    align-items: center;
    margin-bottom: 56px;
  }
}
.welcome-section__link:first-child {
  margin-right: 36px;
}
@media only screen and (max-width: 1023px) {
  .welcome-section__link:first-child {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.welcome-section__gradient {
  position: absolute;
  width: 100%;
  height: 550px;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0e0e0e 66.15%);
}
@media only screen and (max-width: 1023px) {
  .welcome-section__gradient {
    height: 328px;
  }
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 34px;
  margin-bottom: 120px;
  background-color: var(--bg-color);
}
@media only screen and (max-width: 1023px) {
  .header {
    display: block;
    padding-left: 34px;
    padding-right: 16px;
  }
}
.header .logo {
  margin-right: 136px;
}
@media only screen and (max-width: 1023px) {
  .header .logo {
    margin-right: 0;
  }
}
.header__inner {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 1023px) {
  .header__inner {
    justify-content: space-between;
  }
}
.header__nav {
  margin-right: 174px;
}
@media only screen and (max-width: 1023px) {
  .header__nav {
    display: none;
  }
}
.header__list {
  display: flex;
}
.header__item {
  margin-right: 30px;
}
.header__item:last-child {
  margin-right: 0;
}
.header__link {
  padding: 10px;
}
@media only screen and (max-width: 1023px) {
  .header__login-button {
    display: none;
  }
}
.header__burger-button {
  background-color: inherit;
  margin-left: 16px;
  display: none;
}
@media only screen and (max-width: 1023px) {
  .header__burger-button {
    display: block;
  }
}
.header__burger-icon, .header__close-icon {
  display: none;
}
.header__burger-icon.visible, .header__close-icon.visible {
  display: block;
}
.header .mobile-menu {
  display: none;
  position: fixed;
  left: 0;
  top: 120px;
  width: 100%;
  height: 100vh;
  padding: 10px;
  z-index: 1;
  background-color: black;
}
.header .mobile-menu.visible {
  display: block;
}
.header .mobile-menu__list {
  margin-bottom: 60px;
}
.header .mobile-menu__link {
  display: block;
  padding: 10px 0;
  color: white;
  border-bottom: 1px solid white;
}
.header .mobile-menu__button {
  display: block;
  margin: 0 auto;
  color: white;
  border-color: white;
}

.section__title {
  font-size: 52px;
  font-weight: 400;
  line-height: 62px;
}
.section__subtitle {
  font-size: 20px;
  line-height: 30px;
}

.content-section {
  padding-top: 150px;
  padding-left: 297px;
  padding-right: 297px;
}
@media only screen and (max-width: 1023px) {
  .content-section {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media only screen and (max-width: 479px) {
  .content-section {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.content-section__title {
  padding: 10px;
  margin: bottom 0;
  text-transform: capitalize;
  text-align: center;
}
.content-section__subtitle {
  padding: 10px;
  margin-bottom: 44px;
  text-align: center;
}
.content-section__items {
  gap: 33px;
}
@media only screen and (max-width: 1023px) {
  .content-section__items {
    flex-direction: column;
  }
}
.content-section__item {
  background-color: white;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}
.content-section__item-title {
  margin-top: 40px;
  padding: 10px;
  color: #000;
  font-size: 20px;
  font-weight: 500;
}
.content-section__item-subtitle {
  color: #5C5C5C;
  font-size: 16px;
  padding: 10px;
}
.content-section__item-image {
  width: 100%;
  margin-bottom: 40px;
}
.content-section__button-panel {
  text-align: center;
  margin: 57px 0px;
}
.content-section__button-panel2 {
  text-align: center;
  margin: 30px 0px;
}
.content-section__button {
  background-color: #4452FE;
  color: white;
  padding: 20px 36px;
}

.gallery-section {
  padding-top: 200px;
}
.gallery-section__title {
  padding: 10px;
  margin: bottom 0;
  text-transform: capitalize;
  text-align: center;
}
.gallery-section__subtitle {
  padding: 10px;
  margin-bottom: 44px;
  text-align: center;
}
.gallery-section__main {
  display: flex;
  justify-content: center;
  gap: 33px;
  margin-bottom: 44px;
}
@media only screen and (max-width: 1023px) {
  .gallery-section__main {
    flex-direction: column;
    padding-left: 110px;
    padding-right: 110px;
  }
}
@media only screen and (max-width: 479px) {
  .gallery-section__main {
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
  }
}
.gallery-section__second {
  display: flex;
  justify-content: center;
  gap: 33px;
  margin-bottom: 44px;
}
@media only screen and (max-width: 1023px) {
  .gallery-section__second {
    display: none;
  }
}

.partners-section {
  padding-top: 200px;
}
.partners-section__title {
  padding: 10px;
  margin: bottom 0;
  text-transform: capitalize;
  text-align: center;
}
.partners-section__subtitle {
  padding: 10px;
  text-align: center;
}
.partners-section__brands {
  justify-items: end;
  padding: 50px 0px;
  display: grid;
  grid-template-columns: repeat(6, minmax(134px, auto));
  gap: 74px;
}
@media only screen and (max-width: 1023px) {
  .partners-section__brands {
    grid-template-columns: repeat(3, minmax(110px, auto));
  }
}
@media only screen and (max-width: 479px) {
  .partners-section__brands {
    grid-template-columns: repeat(2, minmax(110px, auto));
    gap: 30px;
    justify-items: center;
  }
}
.partners-section__brands__button {
  margin-bottom: 50px;
}

.promo-section__grid {
  margin: 55px 10vw;
  background-color: var(--bg-light-color, #343434);
  border: 1px solid var(--bg-light-color, #343434);
  border-radius: 33px;
  display: grid;
  grid-template: auto/auto auto;
}
@media only screen and (max-width: 1023px) {
  .promo-section__grid {
    grid-template: auto auto/auto;
    margin: 55px 0;
    background-color: var(--bg-second-color, #1E1E1E);
    border: none;
    border-radius: 0;
  }
}
.promo-section__grid-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promo-section__title {
  font-size: 42px;
  font-weight: 400;
  margin-top: 50px;
}
.promo-section__button {
  margin-top: 37px;
}
.promo-section__image {
  max-width: 585px;
  width: 100%;
  justify-self: end;
}
@media only screen and (max-width: 1023px) {
  .promo-section__image {
    justify-self: center;
  }
}

.testimonials-section {
  padding-top: 150px;
  padding-bottom: 50px;
}
.testimonials-section__title {
  padding: 10px;
  margin-bottom: 50px;
  text-transform: capitalize;
  text-align: center;
}
@media only screen and (max-width: 479px) {
  .testimonials-section__title {
    font-size: 48px;
  }
}
.testimonials-section__list {
  -moz-column-count: 2;
       column-count: 2;
}
@media only screen and (max-width: 1023px) {
  .testimonials-section__list {
    -moz-column-count: 1;
         column-count: 1;
  }
}
@media only screen and (max-width: 479px) {
  .testimonials-section__list {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.testimonials-section__list-item {
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid white;
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 20px;
}
.testimonials-section__list-title {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.testimonials-section__list-title-img {
  margin-right: 20px;
}
.testimonials-section__list-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.footer {
  margin: 93px 107px;
}
.footer__grid {
  display: grid;
  grid-template: 1fr/repeat(4, auto);
  margin-left: 10vw;
  margin-right: 10vw;
  gap: 5vw;
  align-items: flex-start;
}
@media only screen and (max-width: 1023px) {
  .footer__grid {
    grid-template: 1fr 1fr/1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 479px) {
  .footer__grid {
    grid-template: 1fr 1fr/1fr 1fr;
  }
}
.footer__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.1px;
  margin-bottom: 40px;
}
.footer__item {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-bottom: 19px;
}
.footer__requisites {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
@media only screen and (max-width: 1023px) {
  .footer__requisites {
    margin-left: 0px;
  }
}
.footer__address {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-bottom: 10px;
}
.footer__address-text {
  padding: 0px 8px;
}
.footer__phone {
  display: flex;
  justify-content: left;
  align-items: center;
}
.footer__phone-text {
  padding: 10px;
}
.footer__socials {
  display: flex;
  margin-top: 20px;
  gap: 24px;
}

:root {
  --bg-color: #181818;
  --bg-light-color: #343434;
  --bg-second-color: #1E1E1E;
}

/* base styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  background-color: var(--bg-color);
  color: #fff;
}
body.hidden {
  overflow-y: hidden;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

button {
  font-size: 17px;
  font-weight: 500;
  font-family: "Work Sans", sans-serif;
  outline: none;
  border: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  font-weight: 400;
}

/* ------------ */
.button {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
}

.button:hover {
  background-color: #4452fe;
  border-color: #4452fe;
}

.button--small {
  padding: 14px 46px;
}

.button--large {
  padding: 20px 40px;
}

.flex {
  display: flex;
}
.flex.justify-center {
  justify-content: center;
}
.flex.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}/*# sourceMappingURL=index.css.map */